In [5]:
import pandas as pd
import numpy as np

# Load the original dataset
original_df = pd.read_csv(r'D:\DATA SCIENCE\Amazon Data Set\Reviews.csv')
print("Original dataset shape:", original_df.shape)

Original dataset shape: (568454, 10)

In [9]:
# Creating a copy for cleaning
cleaned_df = original_df.copy()

# 1. Handling missing values
cleaned_df['ProfileName'] = cleaned_df['ProfileName'].fillna('Unknown')
cleaned_df['Summary'] = cleaned_df['Summary'].fillna('')

# 2. Converting Unix timestamp to datetime
cleaned_df['Time'] = pd.to_datetime(cleaned_df['Time'], unit='s') 

# 3. Filter sparse users/items
user_counts = cleaned_df['UserId'].value_counts()
product_counts = cleaned_df['ProductId'].value_counts()
cleaned_df = cleaned_df[
    cleaned_df['UserId'].isin(user_counts[user_counts >=5].index) &
    cleaned_df['ProductId'].isin(product_counts[product_counts >=5].index)
]

# 4. Creating helpfulness ratio
cleaned_df['HelpfulnessRatio'] = cleaned_df['HelpfulnessNumerator'] / (cleaned_df['HelpfulnessDenominator'] + 1e-6)

# 5. Reseting index
cleaned_df = cleaned_df.reset_index(drop=True)

In [13]:
# cleaned data to a NEW CSV
cleaned_df.to_csv(r'D:\DATA SCIENCE\Amazon Data Set\cleaned_amazon_reviews.csv', index=False)
print("Cleaned dataset saved. New shape:", cleaned_df.shape)

Cleaned dataset saved. New shape: (219540, 11)

In [17]:
# Loading the cleaned CSV
cleaned_df = pd.read_csv(r'D:\DATA SCIENCE\Amazon Data Set\cleaned_amazon_reviews.csv', parse_dates=['Time'])
print(cleaned_df['Time'].dtype)  # Should show "datetime64[ns]"
cleaned_df[['Time', 'Score', 'HelpfulnessRatio']].head()

datetime64[ns]

        Time  Score  HelpfulnessRatio
0 2010-11-05      4               1.0
1 2010-03-12      5               0.8
2 2011-12-23      5               0.0
3 2006-11-13      4               1.0
4 2011-09-28      5               0.0